<%- include ../partials/header %> <%- include ../partials/categories-navbar %>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-12 m-auto text-justify">
      <h1 class="mt-4 mb-5 text-center">About Us</h1>
      <h3>Welcome to our store</h3>
      <p>
       This is Saransh Gupta from JIIT Noida, created a e-commerce website called "BAGOHOLICS" under the guidance of my mentor 
       "Samarth Vohra", Nagarro Summer Internship Programme.
      </p>
      <p>
        Maxime! Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore
        autem assumenda vel laudantium quo ipsum omnis earum nostrum, excepturi
        quibusdam, dicta cupiditate voluptatibus aperiam molestiae? Facilis
        ipsum esse eligendi nobis.
      </p>
    </div>

<%- include ../partials/footer %>
